@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', Helvetica Neue,sans-serif;
    letter-spacing: -0.022em;
    line-height: 1.4705882353;
    -webkit-font-smoothing: antialiased;
    color: rgb(0, 0, 0);
    font-style: normal;
    overflow-x: hidden;
}

.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left:0px;
    top:0px;
    z-index: -1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 16px;
}

.icon {
    display: flex;
    position:relative;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;
}

.icon-title {
    font-size: clamp(19px, 4vw, 32px);
    font-weight: 600;
    margin-top: 20px;
}

.main-title {
    font-size: clamp(42px, 7vw, 72px);
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    line-height: normal;
    width: 100%;
}

.key-image {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 20px;
}

.main-text {
    font-size: clamp(17px, 3vw, 28px);
    font-weight: 450;
    margin-top: 20px;
    text-align: center;
    line-height: normal;
    width: 67%;
}

.light-text {
    font-size: clamp(17px, 3vw, 28px);
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    line-height: normal;
    color: rgb(0, 0, 0, 0.5);
    margin-bottom: 1vh;
}

.subtitle {
    font-size: clamp(19px, 3vw, 36px);
    font-weight: 650;
    margin-top: 84px;
    margin-left: 40px;
    align-self: flex-start;
    line-height: normal;
}

.box-row {
    display: flex;
    position: relative;
    flex-direction: row; 
    width: 100%;
}

.box-2-ghost {
    width: 20px;
    flex-shrink: 0;
}

footer-ghost {
    height: 64px;
    width: 100px;
}

.box, .box-text, .box-full {
    border-radius: 50px;
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    overflow: hidden;
    padding: 64px;
    width: 100%;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(255, 255, 255, 0.1);
}

.box-title {
    font-size: clamp(17px, 4vw, 28px);
    font-weight: 600;
    display: flex;
    position: relative;
    margin-bottom: 16px;
    z-index: 1;
}

.small-text {
    font-size: clamp(14px, 3vw, 17px);
    font-weight: 500;
    line-height: normal;
    color: rgb(0, 0, 0, 0.5);
}

.box {
    height: 100%;
}

.focus-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4%;
    margin-top:-9%;
    margin-bottom:-5%;
}

.focus-text, .focus-text-center {
    font-size: clamp(32px, 3vw, 52px);
    font-weight: 650;
    line-height: normal;
    width: 35%;
    margin-right:7%;
    flex-shrink: 0;
}

.iPhone {
    height: 42%;
    width: 42%;
    display: in-line;
    position: relative;
}

.iPhone-2 {
    height: 72%;
    width: 72%;
    display: flex;
    position: relative;
    margin-left: -8%;
    margin-top:-1%;
}

.notif {
    height: 45%;
    width: 45%;
    display:flex;
    position: relative;
    margin: 5%;
}

.iPhone-6 {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: -15%;
    margin-bottom: -15%;
    margin-left: -8%;
}

.focus-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focus-text-center {
    width:100%;
    text-align: center;
    margin-right:0%;
}

.iPhone-3 {
    height: 108%;
    width: 108%;
    display: flex;
    position: relative;
}

.Mac {
    height: 115%;
    width: 115%;
    margin-top: -7%;
    display: flex;
    position: relative;
}

.iPad {
    height: 90%;
    width: 90%;
    margin-top: -1%;
    display: flex;
    position: relative;
}

.iPhone-6 {
    height: 68%;
    width: 68%;
    display: flex;
    position: relative;
    margin-top: -17%;
    margin-bottom: -17%;
    margin-left: -12%;
}

.Stories {
    height: 68%;
    width: 68%;
    display: flex;
    position: relative;
    margin-top: -9%;
    margin-bottom: -9%;
    margin-left: -6%;
}

.Evolution {
    height: 108%;
    width: 108%;
    display: flex;
    position: relative;
    justify-self: center;
    margin-left:2%;
    margin-top:-2%;
    margin-bottom:-4%;
}

.Full {
    height: 120%;
    width: 120%;
    margin: -10%;
    display: flex;
    position: relative;
    justify-self: center;
}

.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 16px;
    z-index: 2;
}

.sidebar {
    width: 300px;
    height: 75px;
    border-radius: 45px;
    justify-content: center;
    background-color: rgb(186, 115, 130, 0.65);
    align-items: center;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: inset 0px 1px 1.4px rgba(255, 255, 255, 0.4), inset 0px -1px 1.4px rgba(255, 255, 255, 0.1);
    animation: frontAnimation 0.75s ease-in-out none;
    justify-content:center;
}

.button {
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.6;    
    font-weight: 400;
    width: 65px;
    border: none;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    align-items:center;
    margin-bottom: -1px;
}
    
.button img {
    width: 26px; 
    height: 26px; 
    margin-bottom: -1px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

@keyframes frontAnimation {
    0% {
        scale: 0.95;
    }
    25% {
        scale: 1.01;
    }
    50% {
        scale: 0.999;
    }
    75% {
        scale: 1.001;
    }
    100% {
        scale: 1;
    }
}

.button:hover {
transform: scale(1.15);
}

@media screen and (max-width: 800px) {
    @keyframes frontAnimation {
        0% {
            scale:1;
        }
        100% {
            scale: 1;
        }
    }
    
    .footer {
        bottom: 0px;
    }
    
    .sidebar {
        width: 100%;
        border-radius: 0px;
    }
    
    .button {
        margin: 5px;
        margin-bottom:16px;
    }

    body {
        overflow-x: hidden;
    }

    .main-container {
        margin: -8px;
        overflow-x: hidden;
    }

    .icon {
        width: 75px;
        height: 75px;
        margin-top: 5vh;
        border-radius: 16px;
        box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(255, 255, 255, 0.1);
    }

    .icon-title {
        margin-top: 1.5vh;
    }

    .main-title {
        width: 100%;
        margin-top: 3vh;
        font-size: 32px;
    }

    .key-image {
        height: 200%;
        width: 200%;
        margin-top: 0vh;
    }

    .main-text {
        width: 95%;
    }

    .subtitle {
        margin-top: 5vh;
        margin-left: 5vw;
    }

    .box-row, .focus-row {
        flex-direction: column;
        width: 93%;
        align-items: center;
    }
    
    .box-title {
        text-align: center;
    }

    .box, .box-text {
        border-radius: 0px;
        margin-top: 2vh;
        flex-direction: column;
        width: 92%;
        padding: 32px;
        justify-content: center;
    }

    .box-2-ghost {
        width:0px;
        height: 0px;
    }

    .focus-text {
        text-align: center;
        margin-top: 2vh;
        width: auto;
        font-size: 32px;
    }

    .iPhone {
        height: 100%;
        width: 100%;
        margin-top: -%;
    }

    .notif {
        height: 115%;
        width: 115%; 
        margin-top: -2%;
    }

    .iPhone-6 {
        height: 195%;
        width: 195%;
        margin-left: 2vw;
        margin-top:0px;
        margin-bottom: -55%;
    }

    .Stories {
        height: 250%;
        width: 250%;
        margin-top: 0%;
        margin-bottom: -50%;
        margin-right: 113%;
    }

    .iPhone-3 {
        height: 210%;
        width: 210%;
    }

    .iPhone-2 {
        height: 130%;
        width: 130%;
        margin-left: 2%;
    }

    .Evolution {
        height: 220%;
        width: 220%;
        margin-left: 57%;
    }

    .Full {
        height: 230%;
        width: 230%;
        margin-top:-22%;
        margin-bottom:-10%;
    }

    .Mac {
        height: 150%;
        width: 150%;
    }

    .iPad {
        height: 120%;
        width: 120%;
    }
}