@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', Helvetica Neue,sans-serif;
    letter-spacing: -0.022em;
    line-height: 1.4705882353;
    -webkit-font-smoothing: antialiased;
    color: rgb(0, 0, 0);
    font-style: normal;
}

.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left:0px;
    top:0px;
    z-index: -1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 16px;
}

.icon {
    display: flex;
    position:relative;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;
}

.icon-title {
    font-size: clamp(19px, 4vw, 32px);
    font-weight: 600;
    margin-top: 20px;
}

.main-title {
    font-size: clamp(42px, 7vw, 72px);
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    line-height: normal;
    width: 100%;
}

.key-image {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 20px;
}

.main-text {
    font-size: clamp(17px, 3vw, 28px);
    font-weight: 450;
    margin-top: 20px;
    text-align: center;
    line-height: normal;
    width: 67%;
}

.light-text {
    font-size: clamp(17px, 3vw, 28px);
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    line-height: normal;
    color: rgb(0, 0, 0, 0.5);
}

.subtitle {
    font-size: clamp(19px, 3vw, 36px);
    font-weight: 650;
    margin-top: 100px;
    margin-left: 40px;
    align-self: flex-start;
    line-height: normal;
}

.box {
    border-radius: 50px;
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(255, 255, 255, 0.1);

}

.box-2 {
    display: flex;
    position: relative;
    flex-direction: row; 
    width: 100%;
}

.box-2-ghost {
    width: 20px;
    flex-shrink: 0;
}

.text-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    width: 450px;
    margin: 108px;
}

.box-title {
    font-size: clamp(17px, 4vw, 28px);
    font-weight: 600;
    display: flex;
    position: absolute;
    top: 64px;
    left: 64px;
    align-self: flex-start;
    line-height: normal;
    z-index: 1;
}

.focus-text {
    font-size: clamp(32px, 3vw, 52px);
    font-weight: 650;
    line-height: normal;
}

.secondary-text {
    font-size: clamp(24px, 2.5vw, 32px);
    font-weight: 550;
    line-height: normal;
    color: rgb(0, 0, 0, 0.5);
    margin-top: 32px;
}

.small-text {
    font-size: clamp(14px, 2vw, 17px);
    font-weight: 500;
    line-height: normal;
    color: rgb(0, 0, 0, 0.5);
    margin:66px;
    margin-top: 120px;
}

.iPhone {
    height: 37%;
    width: 37%;
    display: flex;
    position: relative;
    
}

.notif {
    height: 38%;
    width: 38%;
    display:flex;
    position: relative;
    margin: 5%;
}

.iPhone-6 {
    height: 65%;
    width: 65%;
    display: flex;
    position: relative;
    margin-top: -17%;
    margin-bottom: -17%;
    margin-left: -5%;
}

.iPhone-3 {
    height: 65%;
    width: 65%;
    display: flex;
    position: relative;
    margin-left: -5%;
    margin-top: 1.5%;
}

.iPhone-2 {
    height: 60%;
    width: 60%;
    display: flex;
    position: relative;
    margin-left: -5%;
    margin-top: 3%;
}

.evolution, .evolution2 {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 100px;
    justify-self: center;
    margin-left:1%;
}

.evolution2 {
    height: 50%;
    width: 50%;
    margin-bottom:4%;
}
.full {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-self: center;
}

.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 8px;
    z-index: 2;
}

.sidebar {
    width: 300px;
    height: 75px;
    border-radius: 45px;
    justify-content: center;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.15);
    align-items: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(255, 255, 255, 0.1);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: medium;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}
    
.button img {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    width: 26px; 
    height: 26px; 
}

.button:hover {
transform: scale(1.2);
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    .main-container {
        margin: 0vw;
    }

    .icon {
        width: 75px;
        height: 75px;
        margin-top: 5vh;
        border-radius: 16px;
        box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(255, 255, 255, 0.1);
    }

    .icon-title {
        margin-top: 1.5vh;
    }

    .main-title {
        width: 100%;
        margin-top: 3vh;
    }

    .key-image {
        height: 200%;
        width: 200%;
        margin-top: 0vh;
    }

    .main-text {
        width: 100%;
    }

    .subtitle {
        margin-top: 5vh;
        margin-left: 5vw;
    }

    .box, .box-2 {
        border-radius: 0px;
        margin-top: 2vh;
        flex-direction: column;
        width: 105%;
        justify-content: center;
    }

    .box-2 {
        margin-top: 0vh;
        width: 105%;
        justify-self: flex-start;
    }

    .box-2-ghost {
        width:0px;
        height: 0px;
    }

    .text-container, .small-text {
        align-items: center;
        width: 90%;
        margin-top: 8vh;
    }

    .box-title {
        top: 5vw;
        left: 5vw;;
    }

    .focus-text, .secondary-text {
        text-align: center;
        margin-top: 2vh;
    }

    .small-text {
        margin:7vh;
        margin-top: 10vh;
        margin-bottom:3vh;
    }

    .iPhone {
        height: 100%;
        width: 100%;
        margin-top: -15vh;
        margin-left: 2vw;
    }

    .notif {
        height: 90%;
        width: 90%; 
        margin-top: -15vh;
    }

    .iPhone-6 {
        height: 150%;
        width: 150%;
        margin-left: 2vw;
        margin-bottom: -50%;
        margin-top: -13vh;
    }

    .iPhone-3 {
        height: 160%;
        width: 160%;
        margin-left: 2vw;
        margin-top: -13vh;
        margin-bottom: -33%;
    }

    .iPhone-2 {
        height: 110%;
        width: 110%;
        margin-left: 6vw;
        margin-top: -13vh;
        margin-bottom: -28%;
    }

    .evolution2 {
        width:100%;
        height: 100%;
    }
    .full {
        height: 130%;
        width: 130%;
    }

    .sidebar {
        width: 270px;
        height: 67.5px;
    }

    .button {
        margin: 4.5px;
        margin-left: 9px;
        margin-right: 9px;
        font-size: 15.3px; 
    }

    .button img {
        width: 23.4px; 
        height: 23.4px; 
    }
}