/* FOUNDATION */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;575;600;650;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    gap: 10px;
    padding: 0px;
    margin-bottom: 49px;
    background: #ffffff;
    letter-spacing: normal;
    position: relative;
}

line {
    height: 1px;
    background-color: black;
    opacity: 0.16;
    width: 87.5%;
    align-self: center;
    margin-bottom: 1em;
}

.header {
    padding-inline: 20px;
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6, p, small {
    margin: 0;
}

p {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    margin-bottom: 1.4211em;
}

smaller {
    font-size: 15px;
    line-height: 1.33337;
    font-weight: 500;
    letter-spacing: -.01em;
    opacity: 0.53;
    margin-top: -1em;
}

.link-story smaller {
    margin-top: 0;
}

caption {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 500;
    letter-spacing: .011em;
}

.caption {
    width: 87.5%;
    text-align: center;
    align-self: center;
    opacity: 0.53;
}

h1, h2, h4 {
    animation: fly-in linear both;
    animation-timeline: view(block);
    animation-range: cover 0% contain 25%;
}

h1 {
    font-size: clamp(28px, 8.14vw, 36px);
    line-height: 1.125;
    letter-spacing: .004em;
    font-weight: 700;
}

h2 {
    font-size: clamp(24px, 7.326vw, 32px);
    line-height: 1.125;
    letter-spacing: .004em;
    font-weight: 700;
}

h3 {
    font-size: clamp(15px, 4.83vw, 23px);
    line-height: 1.2105263158;
    letter-spacing: .012em;
    margin-bottom: clamp(10px, 3.56vw, 14px);
    font-weight: 700;
}

h4 {
    font-size: clamp(36px, 10.17vw, 44px);
    line-height: 1.1;
    letter-spacing: 0em;
    margin-bottom: clamp(24px, 7.12vw, 32px);
    font-weight: 700;
    margin-inline: 0.5em;
}

h5 {
    font-size: clamp(16px, 5.34vw, 32px);
    line-height: 1.1904761905;
    letter-spacing: .011em;
    font-weight: 600;
}

h6 {
    font-size: clamp(24px, 2.144vw, 40px);
    line-height: 1.125;
    letter-spacing: .004em;
    font-weight: 700;
}

h7 {
    font-size: clamp(13px, 4.33vw, 21px);
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -0.022em;
    color:#86868b;
}

.center-text, .left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: clamp(13px, 3.82vw, 17px);
    padding-block: clamp(85px, 24.17vw, 105px);
    padding-bottom: clamp(50px, 15.26vw, 70px);
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    align-self: center;
}

.left-text {
    justify-content: flex-start;
    justify-items: flex-start;
    text-align: left;
    align-items: flex-start;
    align-content: flex-start;
}

.less-margin {
    margin-inline: 0px;
    margin-bottom: 16px;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

span {
    opacity: 0.53;
    
}

.card-b, .card-w, .card-w-b, .card-b-b, .s-card-b, .s-card-w, .s-card-w-b, .s-card-b-b, .w-card {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    color: #1d1d1f;
    position: relative;
    text-decoration: none;
    border-radius: 0px;
}

@keyframes fly-in {
    0% {
        opacity: 0;
        transform: translateY(+50px);
    }
    25% {
        opacity: 0;
        transform: translateY(+50px);
    }
    100% {
    opacity: 1;
    transform: translateY(0px);
    }
}

.w-card {
    height: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-block: 30px;
    padding: 0px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.w-card img, .w-card .wood, .w-card .wood-v {
    height: auto;
    width: 110%;
    object-fit: cover;
    margin-block: -16px;
    align-self: center;
    min-height: 300px;
}

.w-card .wood {
    width: 100%;
    margin-top: 16px;
}

.w-card .wood-v {
    width: 110%;
    margin-block: 16px;
}

.w-card small {
    align-self: center;
    display:block;
    color: #3C3C43;
    position: relative;
    bottom: auto;
    right: auto;
    top: auto;
    left: auto;
}

.card-w, .card-w-b, .s-card-w, .s-card-w-b {
    color: white;
}

.card-w-b, .card-b-b, .s-card-w-b, .s-card-b-b {
    text-align: right;
    align-items:flex-end;
    justify-content:flex-end;
}

.card-b img, .card-w img, .card-w-b img, .card-b-b img, .s-card-b img, .s-card-w img, .s-card-w-b img, .s-card-b-b img, small {
    height: 17px;
    width: 34px;
    opacity: 60%;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 17px;
    font-weight: 400;
    color: #EBEBF5;
}

small {
    width:fit-content;
}

.s-card-b small, .s-card-b-b small {
    color: #3C3C43;
}

.card-w-b img, .card-b-b img, .s-card-w-b small, .s-card-b-b small {
    bottom: auto;
    right: auto;
    top: 30px;
    left: 30px;
}

small {
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: row;
    width: 86%;
    margin: clamp(13px, 3.82vw, 17px);
    box-sizing: border-box;
    border-radius: 16px;
    background-color: rgb(186, 115, 130, 0.75);
    box-shadow: inset 0px 1px 1.4px rgba(255, 255, 255, 0.4), inset 0px -1px 1.4px rgba(255, 255, 255, 0.1);
    justify-content: space-evenly;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    bottom: 0px;
    padding-inline: 17px;
    padding-block: 12px;
    align-self: center;
    animation:none;
}

@keyframes frontAnimation {
    0% {
        scale: 0.95;
    }
    25% {
        scale: 1.01;
    }
    50% {
        scale: 0.999;
    }
    75% {
        scale: 1.001;
    }
    100% {
        scale: 1;
    }
}

.nav-link {
    opacity: 0.75;  
    font-size: 17px;  
    font-weight: 400;
    width: 64px;
    color: white;
    opacity: 0.7;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation:none;
    letter-spacing: 0px;
    margin-bottom: 1px;
}

.nav-link img {
    display: none;
}

.audio-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    justify-content: center;
    animation: discAnimation 1s ease-in-out none;
}

.audio-column, .audio-column-off {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.audio-column-off {
    padding-top: 0;
}

.au-disc, .au-disc-text {
    height: 27vw;
    min-height: 300px;
    width: 27vw;
    min-width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: spin 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) 1;
}

.au-disc-text {
    animation: appear 1s ease-in-out none;
    height: fit-content;
    width: 100%;
    min-height: 0;
    min-width: 0;
}

.button {
    font-size: clamp(12px, 3.6vw, 16px);
    line-height: 1.4285914286;
    letter-spacing: -0.016em;
    font-weight: 600;
    padding: 11px 18px 11px 15px;
    background-color: #4A705E;
    color: white;
    text-decoration: none;
    margin-top: clamp(45px, 13.99vw, 65px);
    border-radius: 100px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(6px, 1.78vw, 8px);
}

.button img {
    height: clamp(12px, 3.6vw, 16px);
    min-width: clamp(12px, 7.2vw, 16px);
}

.story-text-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 6.25%;
    margin-bottom: 3em;
    column-gap: 0px;
    align-self: flex-start;
}

@media screen and (min-width: 800px) {
    body {
        margin-bottom: 0px;
        padding: 0;
        gap: 10px;
        background: #ffffff;
    }

    line {
        width: 85%;
    }

    p {
        font-size: 21px;
    }

    smaller {
        font-size: 17px;
    }

    caption, .caption {
        font-size: 21px;
        width:30em;
    }

    .story-text, .row-story {
        max-width: 85%;
    }
    
    .story-text h5{
        font-size: 21px;
    }

    .story-text-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 85%;
        margin-bottom: 3em;
        column-gap: 21px;
        row-gap: 6px;
        align-self: center;
    }
    
    .header, .au-disc-text {
        padding-top: 32px;
        padding-bottom: 8px;
        padding-inline: 12px;
        display: none;
    }

    h1 {
        font-size: clamp(48px, 3.75vw, 64px);
        line-height: 1.071;
        letter-spacing: -0.005em;
        font-weight: 700;
    }

    h2 {
        font-size: clamp(40px, 3.22vw, 56px);
        line-height: 1.083;
        letter-spacing: -0.01em;
        font-weight: 650;
    }

    h3 {
        font-size: clamp(16px, 1.61vw, 32px);
        line-height: 1.1666666667;
        letter-spacing: .009em;
        margin-bottom: clamp(9px, 0.9vw, 17px);
        font-weight: 700;
    }

    h4 {
        font-size: clamp(72px, 5.36vw, 88px);
        line-height: 1.05;
        letter-spacing: -0.015em;
        margin-bottom: clamp(40px, 3.2vw, 56px);
        font-weight: 700;
    }

    h5 {
        font-size: clamp(16px, 1.61vw, 32px);
        line-height: 1.33341;
        letter-spacing: 0.009em;
        font-weight: 600;
    }

    h6 {
        font-size: clamp(28px, 2.144vw, 36px);
        line-height: 1.125;
        font-weight: 700;
        letter-spacing: .004em;
        width: 32em;
    }

    h7 {
        font-size: clamp(17px, 1.41vw, 25px);
        line-height: 1.381;
        font-weight: 600;
        letter-spacing: 0.011em;
        color:#86868b;
    }

    .center-text, .left-text {
        padding-inline: clamp(215px, 15.5vw, 247px);
        padding-block: clamp(91px, 11.5vh, 123px);
        padding-bottom: clamp(136px, 9.38vw, 146px);
    }

    .card-b, .card-w, .card-w-b, .card-b-b {
        padding-inline: 36px;
        padding-block: 40px;
        height: 78vh;
        border-radius: 0px;
    }

    .card-b img, .card-w img, .card-w-b img, .card-b-b img{
        height: 21px;
        width: 42px;
        opacity: 60%;
        bottom: 40px;
        right: 40px;
    }
    
    .card-w-b img, .card-b-b img, .s-card-w-b small, .s-card-b-b small {
        bottom: auto;
        right: auto;
        top: 40px;
        left: 40px;
    }

    .sidebar {
        bottom: 16px;
        width: 300px;
        height:75px;
        border-radius: 100px;
        margin: 0;
        animation: frontAnimation 0.75s ease-in-out none; 
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .nav-link:hover {
        transform: scale(1.15);
    }

    .nav-link {
        transition: transform 0.3s ease-in-out;
    }

    .nav-link img {
        display:block;
        width: 26px; 
        height: 26px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    }

    small {
        display: block;
    }

    .s-card-b, .s-card-w, .s-card-w-b, .s-card-b-b {
        height: 55vh; 
        padding: 32px;
    }

    .w-card img {
        width: 80%;
        margin-top: -28px;
    }

    .w-card {
        width: 100%;
        border-radius: 0;
        padding-inline: 36px;
        padding-block: 40px;
    }

    .w-card .wood {
        width: 85%;
        margin-top: 32px; 
        margin-bottom: -32px;
    }

    .w-card .wood-v {
        width: 90%;
        margin-bottom: 16px;
    }

    .w-card small, .s-card-b small, .s-card-w small {
        position: absolute;
        bottom: 40px;
        right: 40px;
    }

    .row {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .audio-row {
        display: flex;
        flex-direction: row;
        gap: clamp(20px, 1.7vw, 30px);
        padding: clamp(20px, 1.7vw, 30px);
        justify-content: center;
        animation: discAnimation 1s ease-in-out none;
    }

    .audio-column, .audio-column-off {
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: left;
    }

    .audio-column-off {
        padding-top: 14vw;
    }

    .au-disc, .au-disc-text {
        height: 27vw;
        min-height: 300px;
        width: 27vw;
        min-width: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: spin 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) 1;
    }

    .au-disc-text {
        animation: appear 1s ease-in-out none;
    }

    .button {
        font-size: clamp(17px, 1.27vw, 21px);
        line-height: 1.2105263158;
        letter-spacing: .012em;
        font-weight: 600;
        padding: 16px 37px 17px 27px;
        margin-top: clamp(60px, 4.36vw, 70px);
        gap: clamp(14px, 1.07vw, 18px);
    }
    
    .button img {
        height: clamp(12px, 3.6vw, 16px);
        min-width: clamp(12px, 7.2vw, 16px);
    }
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes discAnimation {
    0% {
      opacity: 0;
      transform: translateY(+250px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}



/* STORY STORY STORY STORY STORY STORY STORY STORY STORY STORY STORY STORY STORY STORY STORY STORY */

.link-story {
    display: flex;
    color: inherit;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.story-header {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    align-self: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(244, 244, 246) 5%,rgba(244, 244, 246, 0) 50%, rgba(244, 244, 246) 95%);
}

.header-focus {
    display: flex;
    position: absolute;
    inset: 100px;
    top: 24px;
    bottom:24px;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: frontAnimation 1.5s ease-in-out none;
    border-radius: 16px;
}

.row-about {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-inline: 150px;
    padding-top: 80px;
    padding-bottom: 0px;
    box-sizing: border-box;
    text-align: left;
    gap: 82px;
}

@keyframes frontAnimation {
    0% {
        scale: 0.95;
    }
    25% {
        scale: 1.01;
    }
    50% {
        scale: 0.999;
    }
    75% {
        scale: 1.001;
    }
    100% {
        scale: 1;
    }
}

.photo-back,
.photo-focus {
    display: flex;
    width: 100vw;
    height: 95vh;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

.photo-focus {
    position: absolute;
    inset: -24px -100px -24px -100px;
}

.header-title {
    margin-top: 3em;
    text-align: center;
}

.header-caption {
    font-size: 21px;
    font-weight: 400;
    opacity: 0.53;
    z-index: 2;
    width:50%; 
    text-align: center;
    align-self: center;
}

.header-detail, .header-detail-2 {
    font-size: 17px;
    font-weight: 450;
    opacity: 0.53;
    z-index: 2;
}

.header-detail-2 {
    opacity: 0.63;
    font-weight: 435;
}

.story-section {
    font-size: 23px;
    font-weight:625;
    margin-top: 24px;
    margin-bottom: 0px;
}

.story-text {
    columns: 250px 4;
    column-gap: 21px;
    width: 87.5%;
    margin-bottom: 3em;
    align-self: center;
}

.row-story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 87.5%;
    align-self: center;
}

.row-story h6 {
    margin-top: 1em;
    font-weight: 600;
}

.story-subheader {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 550;
    margin-bottom: 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding-block: 3em;
    padding-bottom: 8em;
    background-color: rgba(255, 255, 255, 0.15);
}

.foot-header {
    font-size: 15px;
    font-weight: 600;
    opacity: 0.53;
    margin-bottom: 8px;
}

.foot-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.foot-body {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 12px;
    opacity: 0.56;
}

@media screen and (max-width: 800px) {
    .link-story {
        width: 100%;
    }

    .row-about {
        flex-direction: column;
        width: 100%;
        gap: 22px;
        padding: 0;
        padding-top: 11px;
        padding-bottom: 44px;
    }

    .header-focus {
        inset: 17px;
    }
    
    .photo-back,
    .photo-focus {
        height: 50vh;
    }
    
    .photo-focus {
        inset: -17px;
    }
    
    .header-title {
        font-size: 32px;
        margin-top: 32px;
        width:92%; 
    }
    
    .header-caption {
        margin-top: 16px;
        font-size: 17px;
        width:92%; 
        margin-bottom:8px;
    }
    
    .header-detail, .header-detail-2 {
        font-size: 15px;
    }

    .foot-header {
        font-size: 15px;
    }
    
    .foot-title {
        font-size: 24px;
    }
    
    .foot-body {
        font-size: 15px;
    }
}