/* FOUNDATION */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;415;435;500;575;600;625;635;700&display=swap');

b {
    font-weight: 550;
}

body {
    font-family: 'Inter', Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100vw;
    box-sizing: border-box;
    margin: 0px;
    background-color: rgb(245, 245, 247);
    position: relative;
}

.link, .link-story {
    display: flex;
    color: inherit;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.link-story {
    width: 32%;
}

.row-story, .row-story-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.row-work {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

/* HOME */

.story {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 95vh;
    padding: clamp(8px, 3vw, 32px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.story-title {
    font-size: 42px;
    font-weight: 600;
    width: fit-content;
}

.read {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 16px;
    padding: 5px 10px;
    border-radius: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    font-size: 17px;
    font-weight: 450;
    color: rgba(0, 0, 0, 0.65)
}

.i-read {
    width: 32px; 
    height: 16px;
    margin-right: 5px; 
    opacity: 0.65;
}

.story-detail {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.53;
    display: flex;
    position: absolute;
    bottom: 28px;
    right: 28px;
}

/* STORY */
.story-header {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(244, 244, 246) 5%,rgba(244, 244, 246, 0) 50%, rgba(244, 244, 246) 95%);
}

.header-focus {
    display: flex;
    position: absolute;
    inset: 100px;
    top: 50px;
    bottom:50px;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    animation: frontAnimation 1.5s ease-in-out none;
    border-radius: 8px;
}

@keyframes frontAnimation {
    0% {
        scale: 0.95;
    }
    25% {
        scale: 1.01;
    }
    50% {
        scale: 0.999;
    }
    75% {
        scale: 1.001;
    }
    100% {
        scale: 1;
    }
}

.photo-back,
.photo-focus {
    display: flex;
    width: 100vw;
    height: 94.5vh;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

.photo-focus {
    position: absolute;
    inset: -50px -100px -50px -100px;
}

.text-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding-left: 116px;
    padding-right: 116px;
    flex-direction: flex-start;
    margin-top: -36px;
}

.header-title {
    font-size: 48px;
    font-weight: 635;
    align-self: center;
    margin-top: 48px;
    text-align: center;
}

.header-caption {
    font-size: 21px;
    font-weight: 500;
    opacity: 0.53;
    z-index: 2;
    width:50%; 
    text-align: center;
    margin-bottom:-16px;
}

.header-detail, .header-detail-2 {
    font-size: 17px;
    font-weight: 450;
    opacity: 0.53;
    z-index: 2;
}

.header-detail-2 {
    opacity: 0.63;
    font-weight: 435;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

.story-section {
    font-size: 23px;
    font-weight:625;
    margin-top: 24px;
    margin-bottom: 0px;
}

.story-text {
    font-size: 21px;
    font-weight: 415;
    opacity: 1;
    margin-top: 16px;
    columns: 250px 4;
    column-gap: 16px;
    padding-bottom: 64px;
}

.story-subheader {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 550;
    margin-bottom: 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 123px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.15);
    padding-inline: clamp(25px, 5%, 80px);
    padding-block: clamp(100px, 10%, 132px);
    padding-top: 32px;
}

.foot-header {
    font-size: 15px;
    font-weight: 600;
    opacity: 0.53;
    margin-bottom: 8px;
}

.foot-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.foot-body {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
    opacity: 0.56;
}

/* WORK */
.work {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 32px;
}

.app {
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 8px;
}

.work-title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.work-cover {
    height: auto;
    width: 80%;
    object-fit: cover;
    margin-top: -32px;
}

.work-cover-2, .work-cover-3 {
    height: auto;
    width: 90%;
    object-fit: cover;
    margin-top: 32px;
    margin-bottom: -32px;
}

.work-cover-3 {
    margin-bottom: 16px; 
    width: 90%;
}

.work-detail {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.53;
    display: flex;
    position: absolute;
    bottom: 28px;
    right: 28px;
}

/* AUDIO */

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    animation: backAnimation 30s ease-in-out none;
    scale:1.5;
}

@keyframes backAnimation {
    0% {
      scale: 1;
    }
    100% {
      scale:1.5;
    }
}

.au-disc-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: discAnimation 1s ease-in-out none;
    margin-top: 64px;
    margin-bottom: 10vh;
}

.au-disc {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-size: cover;
    margin: 16px;
    margin-bottom:64px;
    animation: spin 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1;
    box-shadow: inset 0px 1px 1.4px rgba(255, 255, 255, 0.4), inset 0px -1px 1.4px rgba(255, 255, 255, 0.1);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes discAnimation {
    0% {
      opacity: 0;
      transform: translateY(+500px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}



/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */

/*TYPOGRAPHY*/
.a-title-1, .a-title-2 {
    font-size: clamp(40px, 8vw, 64px);
    font-weight: 600;
    color: black;
    line-height: clamp(40px, 8vw, 64px);
    letter-spacing: -0.1rem;
}

.a-title-2 {
    color: white;
}

.a-title {
    font-size: clamp(40px, 8vw, 72px);
    font-weight: 600;
    color: black;
    line-height: clamp(32px, 8vw, 72px);
}

.a-row-title {
    font-size: clamp(21px, 3vw, 32px);
    line-height: 1.1;
    font-weight: 600;
    min-width: 20%;
    color: #000000;
}

.a-subtitle, .a-body {
    font-size: clamp(19px, 2vw, 24px);
    font-weight: 600;
    color: black;
    line-height: clamp(19px, 2vw, 24px);
    margin-bottom: 14px;
}

.a-body, .a-body b {
    line-height: clamp(21px, 3vw, 32px);
    color: #86868B;
    margin-top: clamp(17px, 4vw, 50px)
}

.a-body b {
    color: black;
}

.a-caption-1, .a-caption-2 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.56);
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.a-caption-2 {
    top: 32px;
    left: 32px;
}

/*STRUCTURE*/
.editorial-column {
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
}

.about-1, .about-2 {
    display: flex;
    flex-direction: column; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    box-sizing: border-box;
    width: 100%;
    padding: clamp(8px, 3vw, 32px);
    position: relative;
}

.about-2 {
    flex-direction:column-reverse;
    align-items: flex-end;
}

.center-section, .center-section-2 {
    display: flex;
    flex-direction: column;
    padding-inline: clamp(25px, 25%, 256px);
    padding-block: clamp(50px, 10%, 180px);
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.center-section-2 {
    padding-inline: clamp(25px, 5%, 80px);
    padding-block: clamp(50px, 10%, 80px);
    text-align: left;
    background-color: #F5F5F7;
}

.a-button {
    font-size: clamp(14px, 2vw, 19px);
    line-height: clamp(19px, 1vw, 23px);
    color: white;
    font-weight: 600;
    padding-left: clamp(15px, 2vw, 27px);
    padding-right: clamp(18px, 2.5vw, 37px);
    padding-block: clamp(11px, 1vw,17px);
    background-color: #405E51;
    margin-top: clamp(55px, 7vw,72px);
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 16px;
}

.a-row {
    display: flex;
    flex-direction: row;
    gap: 82px;
    width: 100%;
    font-size: clamp(17px, 2vw, 21px);
    font-weight: 600;
    line-height: 1.2;
    color: #86868B;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-inline: 52px;
    box-sizing: border-box;
}

.i-read-w {
    width: 35px;
    height: 19px;
}

@media screen and (max-width: 800px) {
    .center-section {
        padding-inline: 25px;
        padding-block: 50px;
    }
    
    .editorial-column {
        gap: 8px;
    }

    .a-caption-1 {
        bottom: 8px;
        right: 8px;
    }
    .a-caption-2 {
        top: 8px;
        left: 8px;
    }

    .a-row {
        flex-direction: column;
        gap: 22px;
        margin-bottom: 60px;
        padding-inline: 25px;
        margin-top: 48px;
    }

    .center-section-2 {
        padding-inline: 0px;
        padding-top: 110px;
        padding-bottom: 25px;
    }

    .a-subtitle, .a-title {
        padding-inline: 25px;
    }
}

/* SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR */

.sidebar {
    position: fixed;
    bottom: 16px;
    width: 300px;
    height: 75px;
    border-radius: 45px;
    justify-content: center;
    background-color: rgb(186, 115, 130, 0.65);
    align-items: center;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: inset 0px 1px 1.4px rgba(255, 255, 255, 0.4), inset 0px -1px 1.4px rgba(255, 255, 255, 0.1);
    animation: frontAnimation 0.75s ease-in-out none;
}

.button {
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.75;    
    font-weight: 400;
    width: 65px;
    border: none;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    align-items:center;
}
    
.button img {
    width: 26px; 
    height: 26px; 
    margin-bottom: 1px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

.button:hover {
transform: scale(1.15);
}

@media screen and (max-width: 800px) {

    .link {
        flex-direction: row;
    }
    
    .link-story {
        width: 100%;
    }

    /* HOME */
    
    .story {
        height: 65vh;
    }

    .read {
        display: none;
    }
    
    .story-title {
        font-size: 24px;
    }
    
    /* STORY */
    
    .header-focus {
        inset: 16px;
    }
    
    .photo-back,
    .photo-focus {
        height: 50vh;
    }
    
    .photo-focus {
        inset: -16px;
    }
    
    .text-column {
        padding-left: 18px;
        padding-right: 18px;
        margin-top: 8px;
    }
    
    .header-title {
        font-size: 32px;
        margin-top: 32px;
        width:92%; 
    }
    
    .header-caption {
        margin-top: 16px;
        font-size: 17px;
        width:92%; 
        margin-bottom:8px;
    }
    
    .header-detail, .header-detail-2 {
        font-size: 15px;
    }

    .story-text, .story-text-2 {
        font-size: 17px;
        margin-top: 16px;
    }

    .story-section {
        font-size: 19px;
    }
    
    .story-text p, .story-text-2 p {
        min-width: 100%;
        margin-bottom: 8px;
    }
    
    .row-story-2 {
        flex-direction: column;
    }

    .foot-header {
        font-size: 15px;
    }
    
    .foot-title {
        font-size: 24px;
    }
    
    .foot-body {
        font-size: 15px;
    }

    /* WORK */
    .work {
        overflow: hidden;
    }
    
    .row-work {
        flex-direction: column;
        gap: 8px;
    }

    .app {
        height: 50px;
        width: 50px;
        border-radius: 12px;
    }
    
    .work-title {
        font-size: 32px;
    }
    
    .work-cover {
        width: 130%;
        margin-top: -16px;
    }
    
    .work-cover-2 {
        width: 120%;
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .work-cover-3 {
        width: 200%;
        margin-top: 32px;
        margin-bottom: 8px;
    }
    
    /* AUDIO */
    
    .au-disc {
        width: 75vw;
        height:75vw;
        margin: 8px;
        margin-bottom:28px;
    }
    
    /* SIDEBAR */
    
    .sidebar {
        width: 100%;
        border-radius: 0px;
        bottom: 0px;
        justify-content: space-evenly;
        height: 44px;
        box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0);
    }

    .button {
        margin: 5px;
    }

    .button img {
        display: none;
    }

    @keyframes frontAnimation {
        0% {
            scale:1;
        }
        100% {
            scale: 1;
        }
    }

}