/* FOUNDATION */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

b {
    font-weight: 550;
}

body {
    font-family: 'Inter', Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100vw;
    margin: 0;
    background-color: rgb(245, 245, 247);
    box-sizing: border-box;
    position: relative;
}

.link {
    display: flex;
    color: inherit;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.read {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 16px;
    padding: 5px 10px;
    border-radius: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    font-size: 17px;
    font-weight: 450;
    color: rgba(0, 0, 0, 0.65)
}

.i-read {
    width: 32px; 
    height: 16px;
    margin-right: 5px; 
    opacity: 0.65;
}

.row-story {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.row-work {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

/* HOME */

.story {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 95vh;
    padding: 7%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: border-radius 0.3s ease-in-out, margin 0.3s ease-in-out;
    box-sizing: border-box;
}

.story-title {
    font-size: 42px;
    font-weight: 600;
    width: fit-content;
}

.story-detail {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.5;
    display: flex;
    position: absolute;
    bottom: 28px;
    right: 28px;
}

/* STORY */
.story-header {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(244, 244, 246) 5%,rgba(244, 244, 246, 0) 50%, rgba(244, 244, 246) 95%);
}

.header-focus {
    display: flex;
    position: absolute;
    inset: 100px;
    top: 50px;
    bottom:50px;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    animation: frontAnimation 1.5s ease-in-out none;
    border-radius: 8px;
}

@keyframes frontAnimation {
    0% {
        scale: 0.95;
    }
    25% {
        scale: 1.01;
    }
    50% {
        scale: 0.999;
    }
    75% {
        scale: 1.001;
    }
    100% {
        scale: 1;
    }
}

.photo-back,
.photo-focus {
    display: flex;
    width: 100vw;
    height: 94.5vh;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

.photo-focus {
    position: absolute;
    inset: -50px -100px -50px -100px;
}

.text-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding-left: 116px;
    padding-right: 116px;
    flex-direction: flex-start;
    margin-top: -36px;
    margin-bottom: 15vh;
}

.header-title {
    font-size: 48px;
    font-weight: 650;
    align-self: center;
    margin-top: 48px;
    text-align: center;
}

.header-caption {
    font-size: 21px;
    font-weight: 500;
    opacity: 0.5;
    z-index: 2;
    width:50%; 
    text-align: center;
    margin-bottom:-16px;
}

.header-detail {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.5;
    z-index: 2;
}

.story-text {
    font-size: 21px;
    font-weight: 400;
    opacity: 0.75;
    margin-top: 16px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.story-text p {
    flex: 1;
    margin-right: 16px;
    max-width: calc(50% - 8px);
}

.story-subheader {
    margin-top: 32px;
    font-size: 32px;
    font-weight: 550;
    margin-bottom: 8px;
}

.story-link {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 550;
    opacity: 0.75;
}

/* WORK */
.work {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 32px;
}

.app {
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 13px;
    margin-bottom: 8px;
}

.work-title {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.work-cover {
    height: auto;
    width: 80%;
    object-fit: cover;
    margin-top: -32px;
}

.work-cover-2, .work-cover-3 {
    height: auto;
    width: 90%;
    object-fit: cover;
    margin-top: 32px;
    margin-bottom: -32px;
}

.work-cover-3 {
    margin-bottom: 16px; 
    width: 90%;
}

.work-detail {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.5;
    display: flex;
    position: absolute;
    bottom: 28px;
    right: 28px;
}

/* AUDIO */

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    animation: backAnimation 30s ease-in-out none;
    scale:1.5;
}

@keyframes backAnimation {
    0% {
      scale: 1;
    }
    100% {
      scale:1.5;
    }
}

.audio-detail {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.5;
    color: white;
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.au-disc-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: discAnimation 1s ease-in-out none;
    margin-top: 64px;
    margin-bottom: 10vh;
}

.au-disc {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-size: cover;
    margin: 16px;
    margin-bottom:64px;
    animation: spin 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1;
    box-shadow: inset 0px 1px 1.4px rgba(255, 255, 255, 0.4), inset 0px -1px 1.4px rgba(255, 255, 255, 0.1);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes discAnimation {
    0% {
      opacity: 0;
      transform: translateY(+500px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

/* SIDEBAR */

.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 16px;
    z-index: 2;
}

.sidebar {
    width: 300px;
    height: 75px;
    border-radius: 45px;
    justify-content: center;
    background-color: rgb(186, 115, 130, 0.65);
    align-items: center;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: inset 0px 1px 1.4px rgba(255, 255, 255, 0.4), inset 0px -1px 1.4px rgba(255, 255, 255, 0.1);
    animation: frontAnimation 0.75s ease-in-out none;
    justify-content:center;
}

.button {
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.6;    
    font-weight: 400;
    width: 65px;
    border: none;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    align-items:center;
}
    
.button img {
    width: 26px; 
    height: 26px; 
    margin-bottom: 1px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

.button:hover {
transform: scale(1.15);
}

@media screen and (max-width: 800px) {
    /* HOME */
    
    .story {
        height: 60vh;
        margin: 8px;
        margin-bottom: 0px;
        border-radius: 16px;
    }
    
    .story-title {
        font-size: 32px;
    }
    
    .story-detail {
        opacity: 0;
    }
    
    /* STORY */
    
    .header-focus {
        inset: 16px;
    }
    
    .photo-back,
    .photo-focus {
        height: 50vh;
    }
    
    .photo-focus {
        inset: -16px;
    }
    
    .text-column {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 8px;
    }
    
    .header-title {
        font-size: 32px;
        font-weight: 600;
        margin-top: 32px;
    }
    
    .header-caption {
        margin-top: 16px;
        font-size: 17px;
        width:95%; 
        margin-bottom:8px;
    }
    
    .header-detail {
        font-size: 14px;
    }

    .story-text {
        font-size: 17px;
        margin-top: 16px;
    }
    
    .story-text p {
        min-width: 100%;
        margin-bottom: 8px;
    }
    
    /* WORK */
    .work {
        margin: 8px;
        border-radius: 16px;
        overflow: hidden;
    }
    
    .row-work {
        flex-direction: column;
    }

    .app {
        height: 50px;
        width: 50px;
        border-radius: 12px;
    }
    
    .work-title {
        font-size: 32px;
    }
    
    .work-cover {
        width: 130%;
        margin-top: -16px;
    }
    
    .work-cover-2 {
        width: 120%;
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .work-cover-3 {
        width: 200%;
        margin-top: 32px;
        margin-bottom: 8px;
    }
    
    /* AUDIO */
    
    .au-disc {
        width: 75vw;
        height:75vw;
        margin: 8px;
        margin-bottom:28px;
    }
    
    /* SIDEBAR */
    
    .footer {
        bottom: 0px;
    }
    
    .sidebar {
        width: 100%;
        border-radius: 0px;
    }

    .button {
        margin: 5px;
        margin-bottom:16px;
    }

    @keyframes frontAnimation {
        0% {
            scale:1;
        }
        100% {
            scale: 1;
        }
    }

}